<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdkj.business.dao.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.sdkj.business.domain.po.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="referee_id" jdbcType="BIGINT" property="refereeId" />
    <result column="registrion_id" property="registrionId" />
    <result column="balance" property="balance" />
    <result column="map_terminal_id" property="mapTerminalId" />
    <result column="refereeName" property="refereeName" />
  </resultMap>
  
  <select id="findSingleUser" parameterType="java.util.Map" resultMap="BaseResultMap">
    select u.*,case when r.nick_name is not null then r.nick_name when r.account is not null then r.account else '' end as refereeName
    from sdlh_user u
    left join sdlh_user r on u.referee_id = r.id
    <trim prefix="where" prefixOverrides="and">
    	<if test="account != null"> and u.account = #{account}</if>
    	<if test="userType != null"> and u.user_type = #{userType}</if>
    	<if test="id != null"> and u.id = #{id}</if>
    </trim>
  </select>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from sdlh_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sdkj.business.domain.po.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into sdlh_user (id, account, head_img, 
      nick_name, sex, user_type, 
      referee_id,balance,pass_word)
    values (#{id,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{userType,jdbcType=INTEGER}, 
      #{refereeId,jdbcType=BIGINT},0,#{passWord})
  </insert>
  <update id="updateById"  parameterType="com.sdkj.business.domain.po.User">
    update sdlh_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="refereeId != null">
        referee_id = #{refereeId,jdbcType=BIGINT},
      </if>
      <if test="registrionId != null">
        registrion_id = #{registrionId,jdbcType=BIGINT},
      </if>
      <if test="balance != null">
        balance = #{balance},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="addUserBalance" parameterType="java.util.Map">
   	update sdlh_user
    <set>
      <if test="amount != null">
        balance = balance + #{amount}
      </if>
  	</set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deductUserBalance" parameterType="java.util.Map">
   	update sdlh_user
    <set>
      <if test="amount != null">
        balance = balance - #{amount}
      </if>
  	</set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>