<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdkj.business.dao.orderRoutePoint.OrderRoutePointMapper">
  <resultMap id="BaseResultMap" type="com.sdkj.business.domain.po.OrderRoutePoint">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="place_name" jdbcType="VARCHAR" property="placeName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="log" jdbcType="VARCHAR" property="log" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="arrive_time" jdbcType="VARCHAR" property="arriveTime" />
    <result column="leave_time" jdbcType="VARCHAR" property="leaveTime" />
    <result column="wait_time" jdbcType="INTEGER" property="waitTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="distance_from_last_point" jdbcType="REAL" property="distanceFromLastPoint" />
    <result column="deal_user_id" property="dealUserId" />
    <result column="contact_user_name" property="contactUserName" />
    <result column="contact_user_phone" property="contactUserPhone" />
    <result column="over_time_fee_status" property="overTimeFeeStatus" />
    <result column="over_time_fee" property="overTimeFee" />
  </resultMap>
 
  <select id="findSingleRoutePoint" parameterType="java.util.Map" resultMap="BaseResultMap">
    select *
    from sdlh_order_route_point
    <trim prefix="where" prefixOverrides="and">
    	<if test="id != null"> and id = #{id}</if>
    </trim>
  </select>
  
  <select id="findRoutePointList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select *
    from sdlh_order_route_point
    <trim prefix="where" prefixOverrides="and">
    	<if test="id != null"> and id = #{id}</if>
    	<if test="orderId != null"> and order_id = #{orderId}</if>
    </trim>
    order by order_num asc
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sdlh_order_route_point
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sdkj.business.domain.po.OrderRoutePoint">
    insert into sdlh_order_route_point (id, order_id, place_name, 
      address, lat, log, 
      order_num, arrive_time, leave_time, 
      wait_time, status, distance_from_last_point,order_type,deal_user_id,contact_user_name,contact_user_phone,over_time_fee_status,over_time_fee
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{placeName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{lat,jdbcType=VARCHAR}, #{log,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=INTEGER}, #{arriveTime,jdbcType=VARCHAR}, #{leaveTime,jdbcType=VARCHAR}, 
      #{waitTime,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{distanceFromLastPoint,jdbcType=REAL},#{orderType}
      ,#{dealUserId},#{contactUserName},#{contactUserPhone},#{overTimeFeeStatus},#{overTimeFee}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdkj.business.domain.po.OrderRoutePoint">
    update sdlh_order_route_point
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="placeName != null">
        place_name = #{placeName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=VARCHAR},
      </if>
      <if test="log != null">
        log = #{log,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        order_num = #{orderNum,jdbcType=INTEGER},
      </if>
      <if test="arriveTime != null">
        arrive_time = #{arriveTime,jdbcType=VARCHAR},
      </if>
      <if test="leaveTime != null">
        leave_time = #{leaveTime,jdbcType=VARCHAR},
      </if>
      <if test="waitTime != null">
        wait_time = #{waitTime,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="distanceFromLastPoint != null">
        distance_from_last_point = #{distanceFromLastPoint,jdbcType=REAL},
      </if>
      <if test="overTimeFeeStatus != null">
        over_time_fee_status = #{overTimeFeeStatus},
      </if>
      <if test="overTimeFee != null">
        over_time_fee = #{overTimeFee},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>