<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdkj.business.dao.comment.CommentMapper">
  <resultMap id="BaseResultMap" type="com.sdkj.business.domain.po.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" property="orderId" />
    <result column="user_id" property="userId" />
    <result column="driver_id" property="driverId" />
    <result column="vehicle_score" property="vehicleScore" />
    <result column="manner_score" property="mannerScore" />
    <result column="average_score" property="averageScore" />
    <result column="content" property="content" />
    <result column="create_time" property="createTime" />
  </resultMap>
 
  <select id="findCommentList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select *
    from sdlh_comment
    <trim prefix="where" prefixOverrides="and">
    	<if test="orderId != null">and order_id = #{orderId}</if>
    	<if test="driverId != null">and driver_id = #{driverId}</if>
    	<if test="userId != null">and user_id>=#{userId}</if>
    </trim>
  </select>
  
  <select id="findDriverAveScore" parameterType="java.util.Map" resultType="java.lang.Float">
    select AVG(averageScore)
    from sdlh_comment
    <trim prefix="where" prefixOverrides="and">
    	<if test="orderId != null">and order_id = #{orderId}</if>
    	<if test="driverId != null">and driver_id = #{driverId}</if>
    	<if test="userId != null">and user_id>=#{userId}</if>
    </trim>
  </select>
  
  
  <insert id="insertComment" parameterType="com.sdkj.business.domain.po.Comment" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
 	INSERT INTO 
 	`sdlh_comment` (`order_id`,`user_id`,`driver_id`,`vehicle_score`,`manner_score`,`average_score`,`content`,`create_time`) 
	VALUES(#{orderId},#{userId},#{driverId},#{vehicleScore},#{mannerScore},#{averageScore},#{content},#{createTime}) 
  </insert>
</mapper>