<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdkj.business.dao.serviceQuestion.ServiceQuestionMapper">
  <resultMap id="BaseResultMap" type="com.sdkj.business.domain.po.ServiceQuestion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="BIGINT" property="title" />
    <result column="url"  property="url" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <select id="findServiceQuestionList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select *
    from sdlh_service_question
    <trim prefix="where" prefixOverrides="and">
    	<if test="type != null">and type = #{type}</if>
    </trim>
  </select>
</mapper>